<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Show</title>
</head>
<body>
<p th:text="${'Id: ' + user.getId()}">VALUE</p>
<p th:text="${'Name: ' + user.getFirstname()}">VALUE</p>
<p th:text="${'Lastname: ' + user.getLastname()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>

<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
  <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>

</body>
</html>